In [11]:
!pip install neologdn

Collecting neologdn
  Downloading neologdn-0.5.1.tar.gz (57 kB)
     |████████████████████████████████| 57 kB 2.6 MB/s
Building wheels for collected packages: neologdn
  Building wheel for neologdn (setup.py) ... done
  Created wheel for neologdn: filename=neologdn-0.5.1-cp37-cp37m-linux_x86_64.whl size=172995 sha256=0aa8b19b0588ab13d25208b9353db56cf35da166ed73c57e673862fcafe58ba1
  Stored in directory: /root/.cache/pip/wheels/19/15/5c/55b33d02e16129ef81313e4c86e473d6dd1cecf7317a525a9b
Successfully built neologdn
Installing collected packages: neologdn
Successfully installed neologdn-0.5.1

In [1]:
import pandas as pd

In [2]:
sample_df = pd.DataFrame({
    "name" : ["チコリータ（メガニウム）", "ヒノアラシ（バクフーン）", "ワニノコ（オーダイル）"]
})

In [3]:
sample_df

           name
0  チコリータ（メガニウム）
1  ヒノアラシ（バクフーン）
2   ワニノコ（オーダイル）

In [4]:
#全角カッコ内の文字を取り出したい
import re
text = "チコリータ（メガニウム）"
splited = re.split(r"[（）]", text)[0:-1]
name_1 = splited[0]
name_2 = splited[1]
print(splited)
print(name_1)
print(name_2)

['チコリータ', 'メガニウム']
チコリータ
メガニウム

In [5]:
#上記を関数化してdfに適用
import re
def get_inner_symbol(text):
    #[]内の文字で区切る処理
    splited = re.split(r"[（）]", text)[0:-1]
    name_1 = splited[0]
    name_2 = splited[1]
    return [name_1, name_2]


a = sample_df["name"].apply(get_inner_symbol).tolist()
sample_df["name_1"] = [val[0] for val in a ]
sample_df["name_2"] = [val[1] for val in a]
sample_df

           name name_1 name_2
0  チコリータ（メガニウム）  チコリータ  メガニウム
1  ヒノアラシ（バクフーン）  ヒノアラシ  バクフーン
2   ワニノコ（オーダイル）   ワニノコ  オーダイル

In [6]:
# （）のない例外を含むパターン
sample_df_2 = pd.DataFrame({
    "name" : ["チコリータ（メガニウム）", "ヒノアラシ（バクフーン）", "ワニノコ（オーダイル）", "アンノーン"]
})

In [7]:
#全角カッコ内の文字を取り出したい
# カッコのないセルで例外してしまう
import re
text = "アンノーン"
splited = re.split(r"[（）]", text)[0:-1]
name_1 = splited[0]
name_2 = splited[1]
print(splited)
print(name_1)
print(name_2)

IndexError: ignored

In [8]:
#全角カッコ内の文字を取り出したい
# カッコのないセルでエラーしてしまう
# →tryで躱してみる
import re
text = "アンノーン"
try:
    splited = re.split(r"[（）]", text)[0:-1]
    name_1 = splited[0]
    name_2 = splited[1]
    print(splited)
    print(name_3)
    print(name_2)
except:
    pass
print(name_3) # →何も起こっていない

NameError: ignored

In [12]:
#上記を関数化してdfに適用
import re
import neologdn
def get_inner_symbol(text):
    #[]内の文字で区切る処理
    text = neologdn.normalize(text)
    splited = re.split(r"[()]", text)[0:-1]
    if len(splited) == 2: # if文で躱す→OK
        name_1, name_2 = splited[0], splited[1]
    else:
        name_1, name_2  = text, "-"
    return [name_1, name_2]
    

a = sample_df_2["name"].apply(get_inner_symbol).tolist()
sample_df_2["name_1"] = [val[0] for val in a ]
sample_df_2["name_2"] = [val[1] for val in a]
sample_df_2

           name name_1 name_2
0  チコリータ（メガニウム）  チコリータ  メガニウム
1  ヒノアラシ（バクフーン）  ヒノアラシ  バクフーン
2   ワニノコ（オーダイル）   ワニノコ  オーダイル
3         アンノーン  アンノーン      -

In [3]:
import neologdn

text = "チコリータ（メガニウム）"
text = neologdn.normalize(text)
print(text)

チコリータ(メガニウム)